
body {background-color:white;
    font-size: 1 em;
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

.wrapper {
   
    border-radius: 20px;   
    -moz-border-radius:20px; /*for mozilla browser*/
    -webkit-border-radius:20px; /*for web kit based browser*/
    -khtml-border-radius:20px; /*for old konqueror browser*/

}
header {
    top:0;
    left: 0;
    
    width: 100%;
    background-color: rgb(0,10,36);
    background: linear-gradient(90deg, rgba(0,10,36,0.8547794117647058) 0%, rgba(121,31,9,0.9002451322325805) 58%, rgba(0,212,255,1) 95%);;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row no-wrap;
    
}

.music {
    width:3em;
    height:3em;
    
}



h1, li {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1 em;
}

h1{
    font-size: 2em;
    }

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding-left: 0;
    
    

}
li { list-style-type: none;
    padding: 25px;
    font-size: 1.2em;
    font-weight: bold;
}



main {
    
    padding: 0.7em;
    padding-top:0;
}

.lake {
    width: 68em;
    height: 30em;
    padding-left: 0;
    margin-top: 0;
   
}

.matter {
     
    display: inline-block;

}

.heading a {text-decoration: none;
    color: black;
    

}

p{
    font-weight:800;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.date {
    font-weight: 600;
    font-style: italic;
    font-size: small;
    color: brown;
    padding-left: 2em;
    
}

aside {
    border-radius: 10%;
    max-width:19em;
    padding: 1em;
    font-weight: 700;
    margin-top: 1em;
    float: right;
    background-color: rgb(217, 228, 225);
}

h3 {
    font-weight: 600;
}

.btn {
    font-weight: 700;
    
}



.person{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: right;

}

footer {
    text-align: center;
    font-weight: 700;
    background-color: orange;
    color: white;
    
}

